.navbar-nav {
  margin-left: 55%;
  gap: 10px;
}
.container-fluid .container #welcome {
  font-size: 15px;
  letter-spacing: 5px;
  margin-top: 25%;
}
.container-fluid img {
  width: 100px;
  margin-top: 10px;
}
.container-fluid .strong {
  color: #ff014f;
}
.container-fluid span {
  font-size: 60px;
}

.para {
  font-size: 17px;
  margin-top: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgb(112, 113, 113);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#hero-image {
  width: 130%;
  height: 124%;
  overflow-y: visible;
  margin-top: -28%;
  margin-left: -12%;
}

#flex-para {
  margin-top: 23%;
  margin-bottom: -10%;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  margin-left: 10%;
}

#second-para {
  margin-top: 10%;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
}
i {
  font-size: 40px;
  margin: 10px;
}
i:hover {
  color: #ff014f;
}

#hero-section {
  margin-top: 1%;
  height: 100vh;
}

/* about part */
#about-section img {
  width: 450px;
  height: 520px;
  border-radius: 35px;
}
#Skill-Section {
  margin-left: 3%;
}

/* project gallery */
#portfolio {
  padding: 50px 0;
  /* text-align: center; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sub-title {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.work {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.work img {
  width: 100%;
  height: auto;
  display: block;
}

.layer {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  transition: bottom 0.5s ease;
}

.layer h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.layer p {
  font-size: 1em;
  margin-bottom: 15px;
}

.layer a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

.work:hover .layer {
  bottom: 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.6s;
}

.btn:hover {
  background-color: #555;
}

/* contact */
#contact {
  margin-top: 5%;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 20px;
  margin-left: -100px;
  color: #545454;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
  margin-left: 25px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 5px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn-btn2 {
  display: inline-block;
  border-radius: 6px;
  margin: 50px auto;
  text-decoration: none;
  color: #fff;
  width: fit-content;
  transition: 0.6s;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  transition: 0.5s;
  background: #ff004f;
}

#contact {
  margin-left: 6%;
  height: 525px;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 80%;
  border: 0;
  outline: none;
  background-color: #bababa;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 6px;
}

/* footer */
.copyright {
  width: 100%;
  height: 50px;
  margin-top: 90%;
  text-align: center;
  padding: 15px 0;
  background: #5b5959;
  font-weight: 300;
  /* position: relative;
  bottom: -50%; */
  color: #fff;
  letter-spacing: 1px;
}
.copyright i {
  color: #ff004f;
  font-size: medium;
}

/* toggle btn */
body {
  background-color: #ecf0f3;
  color: #333;
}

/* Dark Mode */
button#theme-change {
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

#theme-change {
  position: absolute;
  top: 0;
  left: 88%;
}

body.dark-mode {
  background-color: #000;
  color: #ffffff;
}

body.dark-mode .sub-title,
.btn {
  color: #ecf0f3;
}

body.dark-mode button#theme-change {
  background-color: #ffffff;
  color: #000000;
}

/* media querries */

@media (max-width: 600px) {
  .container-fluid img {
    width: 20%;
  }
  #hero-image {
    width: 100%;
    height: 210px;
    margin-top: -15%;
    margin-left: 0px;
  }
  #hero-section {
    height: 275px;
  }

  #hero-section #welcome {
    font-size: 7.5px;
    letter-spacing: 1px;
  }
  #paragraph {
    font-size: 20px;
    width: 100%;
  }

  .para {
    font-size: 11px;
    line-height: 11px;
    width: 100%;
    margin-bottom: 25px;
  }

  #second-para {
    font-size: 9px;
    margin-bottom: -2px;
  }

  #flex-para {
    height: 200px;
    margin-left: 15%;
  }

  i {
    font-size: 20px;
    margin: 1px;
  }

  #about-section {
    display: flex;
    flex-wrap: wrap;
  }
  #about-me {
    font-size: 20px;
    margin-left: 23px;
  }

  #about-section img {
    margin-top: 15px;
    width: 70%;
    height: 80%;
    margin-left: 15%;
  }

  #Skill-Section {
    width: 90%;
    margin-top: -20%;
    height: auto;
    font-size: 15px;
  }
  #my-skills {
    font-size: 18px;
  }
  /* gallery */
  .container h1 {
    font-size: 22px;
  }
  .work-list {
    display: flex;
    flex-wrap: wrap;
  }
  .work-list .work {
    width: 80%;
    margin-left: 10%;
  }
  /* contact */
  .contact-left {
    width: 100%;
  }
  .contact-left p {
    font-size: 12px;
    width: 100%;
  }
  .contact-left p i {
    font-size: 25px;
  }
  .social-icons {
    width: 100%;
  }
  .social-icons i {
    font-size: 25px;
  }
  .btn-btn2 {
    width: 100%;
    font-size: 12px;
  }
  .contact-right input {
    width: 150%;
  }
  .contact-right textarea {
    width: 150%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .container-fluid img {
    width: 20%;
  }
  #hero-image {
    width: 100%;
    height: 453px;
    margin-top: -22%;
    margin-left: 11px;
  }
  #hero-section {
    height: 500px;
  }

  #hero-section #welcome {
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30%;
  }

  #paragraph {
    font-size: 40px;
    width: 100%;
  }

  .para {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
  }

  #second-para {
    font-size: 15px;
    margin-bottom: 5px;
  }

  #navbarNav {
    margin-left: -60%;
  }

  #flex-para {
    height: 400px;
    margin-left: 22%;
    /* background-color: #fff; */
  }

  i {
    font-size: 30px;
    margin: 4px;
  }

  #about-me {
    font-size: 35px;
    margin-left: 23px;
  }

  #about-section img {
    margin-top: 15px;
    width: 90%;
    height: 80%;
    margin-left: 5%;
  }

  #Skill-Section {
    width: 100%;
    margin-top: 20%;
    height: auto;
    font-size: 20px;
  }
  #my-skills {
    font-size: 25px;
  }
  /* gallery */
  .container h1 {
    font-size: 22px;
  }

  .work-list .work {
    width: 95%;
    margin-left: 2.5%;
  }

  /* contact */
  .contact-left {
    width: 90%;
  }
  .contact-left p {
    font-size: 14px;
    width: 90%;
  }
  .contact-left p i {
    font-size: 25px;
  }
  .social-icons {
    width: 90%;
  }
  .social-icons i {
    font-size: 25px;
  }
  .btn-btn2 {
    width: 80%;
    font-size: 12px;
  }
  .contact-right {
    margin-left: 35px;
  }
  /* footer */
  .copyright {
    margin-top: 0;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .container-fluid img {
    width: 10%;
  }
  .navbar-nav {
    margin-left: 300px;
    font-size: 20px;
    padding: 10;
  }
  #hero-image {
    width: 110%;
    height: 610px;
    margin-top: -25%;
    margin-left: 0px;
  }

  #hero-section #welcome {
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 18%;
  }
  #hero-section {
    height: 650px;
  }

  #paragraph {
    font-size: 50px;
    width: 100%;
  }

  .para {
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    margin-top: 50px;
  }

  #second-para {
    font-size: 20px;
    margin-bottom: 5px;
  }

  #flex-para {
    height: 500px;
    width: 100%;
    margin-left: 0%;
    /* background-color: #fff; */
  }

  i {
    font-size: 40px;
    margin: 4px;
  }

  #about-section img {
    margin-top: 15px;
    width: 90%;
    height: 80%;
    margin-left: 5%;
  }

  #Skill-Section {
    width: 100%;
    margin-top: 20%;
    height: auto;
    font-size: 20px;
  }
  #my-skills {
    font-size: 25px;
  }
  /* gallery */
  .container h1 {
    font-size: 22px;
  }

  .work-list .work {
    width: 99%;
    margin-left: 1%;
  }
  .btn {
    font-size: 20px;
  }
  /* contact */
  .contact-left {
    width: 100%;
  }
  .contact-left p {
    font-size: 12px;
    width: 90%;
  }
  .contact-left p i {
    font-size: 25px;
  }
  .social-icons {
    width: 90%;
  }
  .social-icons i {
    font-size: 25px;
  }
  .btn-btn2 {
    width: 90%;
    font-size: 12px;
  }
  .contact-right input {
    width: 100%;
  }
  .contact-right textarea {
    width: 100%;
  }
  /* footer */
  .copyright {
    margin-top: 0;
  }
}
