body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(images/light\ theme.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* color: #fff; */
}
.clock-container {
  text-align: center;
  padding: 70px;
}
.time,
.date {
  font-size: 75px;
  margin: 10px 0;
}

button#theme-change {
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

#theme-change {
  position: absolute;
  top: 0;
  left: 50px;
}

body.dark-mode {
  background-image: url(images/dark\ theme.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

body.dark-mode button#theme-change {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 600px) {
  .time,
  .date {
    font-size: 1.5em;
  }
  .clock-container {
    padding: 50px;
  }
}

@media (min-width: 600px) and (max-width: 1040px) {
  .time,
  .date {
    font-size: 2.5em;
  }
  .clock-container {
    padding: 50px;
    font-size: 20px;
  }
}

@media (min-width: 1040px) and (max-width: 1200px) {
  .time,
  .date {
    font-size: 3em;
  }
  .clock-container {
    padding: 40px;
    font-size: 20px;
  }
}
